
DataProcessing/ProcessedData/*
DataProcessing/loladb/*
DataProcessing/SeriesMatrices/*
DataProcessing/tmp/*
DataProcessing/IdatFiles/*
DataProcessing/IdatFiles/.*
DataProcessing/humanmethylation450_15017482_v1-2.csv.gz
DataProcessing/.Rhistory
DataProcessing/.ipynb_checkpoints/*
DataProcessing/__pycache__/*
.ipynb_checkpoints/*
.virtual_document/*

Paper/MSEPM-Manuscript.aux
Paper/MSEPM-Manuscript.bcf
Paper/MSEPM-Manuscript.blg
Paper/MSEPM-Manuscript.bbl
Paper/MSEPM-Manuscript.alg
Paper/MSEPM-Manuscript.log
Paper/MSEPM-Manuscript.out
Paper/MSEPM-Manuscript.run.xml

Analysis/ipynb_checkpoints/*
Analysis/norm_ref.pkl

*-checkpoint.ipynb
MethylationAnalysisHelpers/.idea/*
